body {
	background-color: #000;
	color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.acordeon {
	justify-content: center;
	display: flex;
}
.acordeon .itens {
	background-color: rgb(35, 35, 35);
	width: 900px;
	margin-top: 20px;
	cursor: pointer;
}

.acordeon .itens .item .pergunta {
	padding: 25px 20px;
	font-size: 17px;
	font-weight: 500;
	transition: 0.3s ease-in-out;
	border-bottom: 1px solid #000;
	position: relative;
}
.acordeon .itens .item .pergunta::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../imagens/icons8-soma-50.png);
	background-size: 30px;
	background-repeat: no-repeat;
	position: absolute;
	right: 50px;
	top: 20px;
}
.acordeon .itens .item.ativo .pergunta::after {
	transform: rotate(45deg);
}

.acordeon .itens .item .pergunta:hover {
	background-color: rgb(88, 88, 88);
}

.acordeon .itens .item .resposta {
	display: none;
	font-size: 17px;
	padding: 15px 20px;
	font-weight: 500;
}

.acordeon .itens li {
	border-bottom: 5px solid #000;
}
.acordeon .itens li:last-child {
	border-bottom: none;
}

.acordeon .itens .item.ativo .resposta {
	display: block;
}

.informe-email {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-weight: 500;
}
.footer {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.footer .campo-email {
	width: 300px;
	height: 40px;
	background-color: rgb(58, 58, 58);
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
}
::placeholder {
	padding-left: 15px;
	color: #fff;
	font-size: 12px;
}

.footer .btn {
	padding: 10px;
	color: #fff;
	background-color: red;
	font-weight: 700;
	border-radius: 5px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.footer .btn:hover {
	background-color: #b31717;
}
